MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/video_editing_portfolio
MONGODB_DB=video_editing_portfolio
ADMIN_EMAIL=sanqasim205@gmail.com
ADMIN_PASSWORD=change-this-password
ADMIN_SECRET=change-this-random-secret
